*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

#bg-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo{
    font-family: var(--fonte-logo);
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 2.5rem;
    background: var(--gradiente-tematico);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: var(--arredondamento-padrao);
}

input{
    border: 1px solid #000000;
    padding: 0.25rem;
}

input::placeholder{
    font-style: italic;
}

.form-campo{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

#campo-lembre{
    justify-content: start;
    gap: 0.25rem;
}

#lembre{
    font-size: 0.8rem;
}

#logar{
    display: flex;
    justify-content: center;
    width: 100%;
}

#entrar, #deslogar{
    width: 100%;
    background: var(--gradiente-tematico);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    font-weight: 600;
}

#entrar:hover, #deslogar:hover{
    cursor: pointer;
    background: white;
    color: var(--cor-destaque);
    transition: all 0.3s;
}

#github{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    color: #FFFFFF;
    font-style: italic
}